.hinh{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}
.album{
    width: 300px;
    background-color: bisque;
    border: solid 1px tomato;
    margin-bottom: 50px;
    text-align: center;
    padding: 10px;
}   
.hihi{
    padding: 10px;
    margin-bottom: 30px;
}

.note{
    width: 150px;
    padding: 5px;
    margin: 3px;
    border: solid 3px green;
    border-radius: 5px ;
}
.list{
    width: 170px;
    padding: 5px;
    border: solid 1px blue;
    border-radius: 5px;
} 
