html
  head
    title Web simple
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap', rel='stylesheet')
    link(href='/stylesheets/css.css', rel='stylesheet')
    link(href='/stylesheets/detail.css', rel='stylesheet')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  body
    .header(style='color: black;')
      .brand
        a.brand(href='/') Basic Shop
          
      .nav
        a.nav(href='/')
          b HOME
        a.nav(href='/detail')
          b DETAIL
        a.nav(href='#')
          b CONTACT
        a.nav(href='/sigin')  
          b SIGIN
        a.nav(href='/login')  
          b LOGIN

        input(placeholder='Search')
        button.fa.fa-search
    .row
      .container
        .col-md-5 
          .hinh
            img.img(src='images/xoai.jpg')
        .col-md-7 
          h2.product-title Xoài cát hòa lộc 
          .describe Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt excepturi ipsa, possimus ex dolorem veritatis quisquam facere atque quasi voluptates, distinctio quaerat dolores enim incidunt quos corrupti tenetur consequuntur expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed velit vero cumque iste similique voluptatibus! Aliquam quod, natus officia unde et explicabo id eaque? Vitae dignissimos reprehenderit repellat accusamus ab.
          .Quantity
            
            .col-md-4
              p 15.000đ/kg
            .col-md-4  mã sản phẩm : 1234568
            |còn hàng
          span.quantity-title
            |Số lượng
          span  
            i.fa.fa-minus 
          span 
            input(placeholder='1')
          span 
            i.fa.fa-plus

          button.btn CHỌN MUA

  section.row
      article
        .thumbnail
          
          img(src='#{img}', alt='')
          p
            strong #{name}
          p
            |#{decription}
          p(style='color: red;')
            |#{price}
          button.btn CHỌN MUA
      
        

    