html
  head
    title Web simple
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap', rel='stylesheet')
    link(href='/stylesheets/css.css', rel='stylesheet')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  body
    .header(style='color: black;')
      .brand
        a.brand(href='/') Basic Shop
          
      .nav
        a.nav(href='/')
          b HOME
        a.nav(href='/detail')
          b DETAIL
        a.nav(href='#')
          b CONTACT
        a.nav(href='/sigin')  
          b SIGIN
        a.nav(href='/login')  
          b LOGIN

        input(placeholder='Search')
        button.fa.fa-search
    .slideshow-container
      .mySlides
        img.img(src='images/slide4.jpg')
    section.row
      article
        .thumbnail
          a(href='/detail') 
            img(src='images/traberry.jpg', alt='')
          
          p
            strong Strawberry
          p
            | Dâu tây tươi đà lạt
          p(style='color: red;')
            | 150.000đ
          button.btn CHỌN MUA
      article
        .thumbnail
          a(href='/detail') 
            img(src='images/apple.jpg', alt='')
          
          p
            strong Apple
          p
            |Táo đỏ mỹ nhập khẩu
          p(style='color: red;')
            | 150.000đ
          button.btn CHỌN MUA
      article
        .thumbnail
          a(href='/detail') 
            img(src='images/Blueberry.jpeg', alt='')
          div
            p
              strong Blueberry
            p
              | Việt quất tươi nhập khẩu
            p(style='color: red;')
              | 150.000đ
          button.btn CHỌN MUA
      article
        .thumbnail
          a(href='/detail') 
            img(src='images/watermelon.jpg', alt='')
          p
            strong watermelon
          p
            | Dưa hấu không hạt
          p(style='color: red;')
            | 150.000đ
          button.btn CHỌN MUA
      article
        .thumbnail
          a(href='/detail')             
            img(src='images/peach.jpeg', alt='')
          p
            strong Peach
          p
            | Đào nhập khẩu 
          p(style='color: red;')
            | 150.000đ
          button.btn CHỌN MUA
      article
        .thumbnail
          a(href='/detail') 
            img(src='images/chuoi.webp', alt='')
          p
            strong Banana
          p
            | Chuối malaysia nhập khẩu
          p(style='color: red;')
            | 150.000đ
        div
          button.btn CHỌN MUA
      article
        .thumbnail
          a(href='/detail') 
            img(src='images/durian.jpg', alt='')
          p
            strong Durian
          p
            | sầu riêng cái mơn
          p(style='color: red;')
            | 150.000đ
          button.btn CHỌN MUA
      article
        .thumbnail          
          a(href='/detail') 
            img(src='images/kiwi.jpg', alt='')
          strong
          p
            strong kiwi
          p
            | kiwi newzealan nhập khẩu
          p(style='color: red;')
            | 150.000đ
        div
          button.btn CHỌN MUA
      article
        .thumbnail
          a(href='/detail') 
            img(src='images/orange.jpg', alt='')
          strong
          p
            strong Orange
          p
            | Cam sành mọng nước 
          p(style='color: red;')
            | 150.000đ
        div
          button.btn CHỌN MUA
      article
        .thumbnail
          a(href='/detail') 
           img(src='images/xoai.jpg', alt='')
          strong
          p
            strong Mango
          p
            | Xoài cát hòa lộc
          p(style='color: red;')
            | 150.000đ
        div
          button.btn CHỌN MUA
          
        
